.jv-cell-ai-button-container {
  position: absolute;
  top: 10px;
  right: 190px;
  z-index: 1000;
}

.jv-cell-ai-button {
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
  border-radius: var(--jp-border-radius, 5px);
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  font-size: var(--jp-ui-font-size1, 12px);
}

.jv-cell-ai-button-container .jv-cell-ai-tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-40%);
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  padding: 5px;
  border-radius: var(--jp-border-radius);
  box-shadow: 0 0 10px rgb(112 106 106 / 10%);
  white-space: nowrap;
  border: 1px solid var(--jp-border-color1);
  visibility: hidden;
}

.jv-cell-ai-input-container {
  margin-left: 72px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--jp-border-color1);
  border-radius: var(--jp-border-radius, 4px);
  padding: 5px 10px;
  padding-top: 10px;
}

.jv-cell-ai-input-container:focus-within {  
  border-color: var(--jp-brand-color1);
}

.jv-cell-ai-input-editor {
  height: 80px;
  overflow: hidden;
}

.jv-cell-ai-input-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.jv-cell-ai-input-submit-button {
  font-family: var(--body-font);
  border-radius: var(--jp-border-radius, 5px);
  border: none;
  padding: var(--jp-ui-padding, 5px 10px);
  margin-top: var(--jp-ui-margin, 10px);
  margin-right: var(--jp-ui-margin, 10px);
  cursor: pointer;
  font-size: var(--jp-ui-font-size1, 12px);
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
}

.jv-cell-ai-input-submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.jv-cell-ai-input-cancel-button {
  font-family: var(--body-font);
  background-color: rgb(127 128 128 / 50%);
  border-radius: var(--jp-border-radius, 5px);
  border: none;
  max-width: 100px;
  min-height: 25px;
  margin-top: var(--jp-ui-margin, 10px);
  margin-right: var(--jp-ui-margin, 10px);
  color: var(--jp-ui-inverse-font-color1);
}

.jv-diff-review-buttons-container {
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  outline: none;
}

.jv-cell-diff-review-button-container {
  position: relative;
}

.jv-cell-diff-review-button-container .tooltip {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-35%);
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  padding: 5px;
  border-radius: var(--jp-border-radius);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  white-space: nowrap;
  border: 1px solid var(--jp-border-color1);
  z-index: 1000;
}

.jv-cell-diff-review-button-container .accept-and-run-button {
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
}

.jv-cell-diff-review-button-container .accept-button {
  background-color: rgb(127 128 128 / 50%);
  color: var(--jp-ui-inverse-font-color1);
}

.jv-cell-diff-review-button-container .reject-button {
  background-color: var(--jp-error-color1);
  color: var(--jp-ui-inverse-font-color1);
}

.jv-cell-diff-review-button-container .edit-prompt-button {
  background-color: rgb(127 128 128 / 50%);
  color: var(--jp-ui-inverse-font-color1);
}

.jv-cell-diff-review-button-container .accept-and-run-button,
.jv-cell-diff-review-button-container .accept-button,
.jv-cell-diff-review-button-container .reject-button,
.jv-cell-diff-review-button-container .edit-prompt-button {
  font-family: var(--body-font);
  border-radius: var(--jp-border-radius, 5px);
  border: none;
  padding: var(--jp-ui-padding, 5px 10px);
  margin-top: var(--jp-ui-margin, 10px);
  margin-right: var(--jp-ui-margin, 10px);
  cursor: pointer;
  font-size: var(--jp-ui-font-size1, 12px);
}

.jv-cell-jv-cell-fix-error-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.jv-cell-fix-error-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: var(--jp-ui-padding, 5px 10px);
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
  border: none;
  border-radius: var(--jp-border-radius, 4px);
  cursor: pointer;
}

.jv-cell-fix-error-tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-40%);
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  padding: 5px;
  border-radius: var(--jp-border-radius);
  box-shadow: 0 0 10px rgb(112 106 106 / 10%);
  white-space: nowrap;
  border: 1px solid var(--jp-border-color1);
  visibility: hidden;
}
