.carousel-indicator-bt {
    background-color: white !important;
}

.concert-photo-text {
    color:whitesmoke !important;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}