h3.code-title {
	padding: 0 0.5em;
	color: white;
	background-color:rgba(204, 204, 204, 0.5);
	position: absolute;
	z-index: 10;
	top: 0;
	left: 1.5em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0.8;
	letter-spacing: 0.05em;
	border-radius: 0 0 5px 5px;
	mix-blend-mode: exclusion;
}	

h3.code-title + pre.shiki {
	padding-top: 2em;
}