h3.code-title {
	padding: 0 0.5em;
	color: black;
	background-color:rgb(186, 186, 186);
	position: absolute;
	z-index: 10;
	top: -1.5em;
	left: 0;
	transition: opacity 0.3s ease-in-out;
	opacity: 0.8;
	letter-spacing: 0.05em;
	border-radius: 5px 5px 0 0;
	/*mix-blend-mode: exclusion;*/
}	

h3.code-title + pre.shiki {
	border-top-left-radius: 0;
}