h3.code-title {
	position: absolute;
	padding: 0 0.5em;
	color: var(--shiki);
	border-left: solid 6px #168edf;
	border-bottom: solid 1px #168edf;
	border-radius: 5px 0 0 5px;
	z-index: 10;
	top: -2em;
	left: 0;
	transition: opacity 0.3s ease-in-out;
	opacity: 0.8;
	font-size: 80%;
	letter-spacing: 0.05em;
	/*mix-blend-mode:  exclusion;*/
}