Button {
    width: 100%;
}

.change_line {
    padding: 1;
    text-align: center;
}

.change_line Button {
    width: 15;
}

#more {
    dock: right;
}

.hidden {
    display: none;
}

#log_buttons {
    align: center middle;
}

#log_buttons Button {
    width: 50%;
}

#log_buttons .page-full-width {
    width: 100%;
}
