:root {
    --ifk-layout-color0: var(--colab-primary-surface-color,
                          var(--vscode-editor-background,
                          var(--jp-layout-color0,
                          #ffffff)));

    --ifk-layout-color1: var(--colab-secondary-surface-color,
                          var(--vscode-editorWidget-background,
                          var(--jp-cell-editor-background,
                          #f7f7f7)));

    --ifk-layout-color2: var(--colab-highlighted-surface-color,
                          var(--vscode-descriptionForeground,
                          var(--jp-layout-color4,
                          #e0e0e0)));

    --ifk-layout-color3: var(--colab-border-color,
                          var(--vscode-editorWidget-border,
                          var(--jp-cell-editor-border-color,
                          #dadada)));
    
    --ifk-form-border-color: var(--colab-border-color,
                              var(--vscode-editorWidget-border,
                              var(--jp-cell-editor-border-color,
                              #dadada)));

    --ifk-widget-input-color: var(--colab-primary-text-color,
                                var(--vscode-foreground,
                                var(--jp-ui-font-color0,
                                #1f1f1f)));

    --ifk-widget-label-color: var(--colab-secondary-text-color,
                                var(--vscode-descriptionForeground,
                                var(--jp-ui-font-color1,
                                #444746)));
  }
               
.cell-output-ipywidget-background {
  background-color: var(--ifk-layout-color0) !important;
  padding: var(--notebook-output-node-padding) 0 0 0 !important;
  margin: 0;
}

.ifk-masonry {
    display: block;
    column-width: 400px;
    column-gap: 10px;
}

.ifk-form {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid var(--ifk-form-border-color);
    background-color: var(--ifk-layout-color1);
    break-inside: avoid; /* helps prevent form from splitting between columns */
}

.ifk-form-title {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    justify-content: end;
    text-align: right;;
    color: var(--ifk-widget-label-color);
    opacity: 50%;
}

.ifk-widget-box {
    padding: var(--jp-widgets-margin);
    overflow-y: hidden;
}

.ifk-widget-box .widget-label,
.ifk-widget-box .widget-button {
    color: var(--ifk-widget-label-color);
}

.ifk-form-toggle-button {
    background-color: transparent;
    color: var(--ifk-widget-label-color);
}

.ifk-widget-label {
    margin: 0;
    color: var(--ifk-widget-label-color);
}

.ifk-widget-input {
    width: auto;
    height: var(--jp-widgets-inline-height);
    margin: 0;
    color: var(--ifk-widget-input-color);
    border: none; /*1px solid var(--ifk-layout-color2);*/
    background-color: var(--ifk-layout-color0);
}

.file-autocomplete {
    height: auto;
}

.suggestion-box {
    border: 1px solid var(--ifk-layout-color0);
    color: var(--ifk-widget-label-color);
}

.autocomplete-suggestions-hbox {
    background-color: var(--ifk-layout-color0);
}
                          
.autocomplete-suggestions-hbox:hover {
    background-color: var(--ifk-layout-color1);
}

.ifk-widget-input-disabled {
    opacity: var(--jp-widgets-disabled-opacity);
}

.ifk-widget-input-error {
    background-color: rgba(255, 0, 0, 0.25);
}

.ifk-widget-input-missing {
    border: 1px solid rgba(255, 0, 0, 0.75);
}

.ifk-widget-input input,
.ifk-widget-input select,
.ifk-widget-input textarea {
    width: 100%;
    color: inherit !important;
    background-color: transparent !important;
    border: none !important;
    line-height: auto;
}

.ifk-widget-input .widget-label-basic {
    color: var(--ifk-widget-label-color);
}

.ifk-widget-input input[type=checkbox] {
    width: auto;
}

.ifk-widget-Checkbox {
    flex-direction: column-reverse;
}

.ifk-widget-Checkbox .ifk-widget-input {
    background-color: inherit;
    border: none;
    padding: 0 10px;
}

.ifk-widget-Textarea .ifk-widget-input {
    height: auto;
}

.ifk-widget-Button {
    background-color: var(--ifk-layout-color3);
}

.ifk-widget-Button:hover {
    background-color: var(--ifk-layout-color2);
}

.ifk-widget-Button:active {
    background-color: var(--ifk-layout-color2);
}

.ifk-widget-Text,
.ifk-widget-Textarea,
.ifk-widget-Password,
.ifk-widget-FileAutocomplete{
    width: 100%;
}

.ifk-widget-IntText,
.ifk-widget-FloatText {
    max-width: 180px;
}

.ifk-widget-Dropdown {
    width: auto;
}