[buildout]
extends =
    sources.cfg
    versions.cfg

extensions =
    mr.developer
    plone.versioncheck

show-picked-versions = true
allow-picked-versions = true

sources-dir = devel

always-checkout = force
auto-checkout =
    email2pdf2
    imio.email.parser

parts =
    scripts
    ploneversioncheck
    omelette
    test
    coverage
    report

versions = versions

develop = .

eggs =
    imio.email.dms
    imio.email.parser
    imio.pyutils
    pdbplus

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}
;ignores = imio.email.parser
;packages =
;    ${buildout:directory}/devel/imio.email.parser imio/email/parser/

[scripts]
recipe = zc.recipe.egg:scripts
interpreter = runpy
eggs = ${buildout:eggs}
initialization = import os; os.environ["PYTHONBREAKPOINT"] = "pdbp.set_trace"

[ploneversioncheck]
recipe = zc.recipe.egg
eggs = plone.versioncheck

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
#extra-paths = ${buildout:directory}/parts/omelette
#include-site-packages = true
eggs =
    ${buildout:eggs}
initialization =
    import os; os.environ["PYTHONBREAKPOINT"] = "pdbp.set_trace"
    sys.argv = sys.argv[:] + ['-s', 'imio.email.dms', '-s', 'imio.email.parser']

[coverage]
recipe = zc.recipe.egg
eggs =
    coverage
initialization =
    include = '--source=${buildout:directory}/src/imio/email/dms,' \
              '${buildout:directory}/devel/imio.email.parser/src/imio/email/parser,'
    omit = '--omit=**/tests/*,'
    sys.argv = sys.argv[:] + ['run', omit, include, 'bin/test']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']
