[remotes]
imio = https://github.com/IMIO
imio_push = git@github.com:IMIO

[sources]
imio.email.parser = git ${remotes:imio}/imio.email.parser.git pushurl=${remotes:imio_push}/imio.email.parser.git rev=53926593770c25d8fb1f6320329f310b24bc2062
imio.pyutils = git ${remotes:imio}/imio.pyutils.git pushurl=${remotes:imio_push}/imio.pyutils.git
#email2pdf = git https://github.com/andrewferrier/email2pdf.git
email2pdf = git https://github.com/sgeulette/email2pdf.git pushurl=git@github.com:sgeulette/email2pdf.git
#email2pdf2 = git https://github.com/pyscioffice/email2pdf2.git
email2pdf2 = git https://github.com/IMIO/email2pdf2.git pushurl=git@github.com:IMIO/email2pdf2.git
