[versions]
setuptools = 69.0.2
zc.buildout = 3.0.1

six=1.16.0

collective.recipe.omelette = 1.1.0
mr.developer = 2.0.2
plone.versioncheck = 1.7.0
zc.recipe.egg = 2.0.7

# Required by:
# imio.email.dms
certifi = 2020.6.20
chardet = 3.0.4
configparser = 5.0.1
docopt = 0.6.2
future = 1.0.0
idna = 2.10
imio.pyutils = 1.1.3
requests = 2.24.0
urllib3 = 1.25.11
zc.lockfile = 2.0

# Required by:
# imio.email.parser
beautifulsoup4 = 4.9.3
html5lib = 1.1
lxml = 4.6.1
mail-parser = 3.15.0
pathvalidate = 3.2.3
pdfminer3k = 1.3.4
Pillow = 8.0.1
ply = 3.11
PyPDF2 = 1.26.0
python-magic = 0.4.18
reportlab = 3.5.68
soupsieve = 2.0.1
webencodings = 0.5.1

# Required by:
# plone.versioncheck
CacheControl = 0.12.6
colorama = 0.4.4
Jinja2 = 2.11.2
MarkupSafe = 1.1.1
lockfile = 0.12.2
msgpack = 1.0.0

# Required by:
# pdbp
pygments = 2.19.1
simplejson = 3.19.3
tabcompleter = 1.4.0

# Required by:
# email2pdf2
PyPDF3 = 1.0.6
tqdm = 4.67.1
